<launch>
    <node pkg="detector" type="detector_node" name="event_detection_node" />  

    <node pkg="bullet_traj_est" type="bullet_estimation" name="estimation" output="screen">

        <param  name="cam_param_yaml_path" value="$(find bullet_traj_est)/config/camera.yaml" />
        <!-- <param  name="cam_depth_param_yaml_path" value="$(find bullet_traj_est)/config/camera.yaml" /> -->
    </node> 
    

    <node pkg="odom_visualization" type="odom_visualization" name="drone_visual" output="screen">
        <remap from="~odom" to="/vins_estimator/odometry"/>
        <param name="color/a" value="1.0"/>    
        <param name="color/r" value="0.0"/>        
        <param name="color/g" value="0.0"/>        
        <param name="color/b" value="1.0"/>       
        <param name="covariance_scale" value="100.0"/>       
        <param name="robot_scale" value="1.0"/>
    </node> 

    <node pkg="traj_comparator" type="traj_comparator_node" name="traj_cmp" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find bullet_traj_est)/rviz/traj_vis.rviz" />

</launch>
